const { MessageEmbed } = require("discord.js");
const { getAuditChannel } = require("../util/functions");

module.exports = {
  name: "channelCreate",
  async execute(client, channel) {
    const auditChannel = await getAuditChannel(channel.guild.id);

    // not enabled
    if (auditChannel === null || !auditChannel) return;

    // channel not found/deleted
    if (
      !channel.guild.channels.cache.some((ch) => ch.name === auditChannel.name)
    )
      return;

    let msg = "";

    if (channel.type === "category") {
      msg = `Categoria: **${channel}** fue creada`;
    } else {
      msg = `Canal: **${channel}** fue creada`;
    }

    const embed = new MessageEmbed()
      .setTitle("Canal Creado")
      .setDescription(msg)
      .setColor("GREEN")
      .setFooter(`Bot Created by Gaston#0001`, 'https://i.imgur.com/rVaN5PZ.png')
      .setTimestamp();

    client.channels.cache.get(auditChannel.id).send({ embed });
  },
};